<h1>Albums</h1>
<p><a href="/albums/new">Add new album</a></p>

<% @albums.each do |album| %>
<p><%=album.name%><p>

<p><%=album.artist.artist_name%></p>

<p><%=album.artist.id%></p>
<p><%=album.genre%><p>
<p><%=album.buy_price%></p>
<p><%=album.sell_price%></p>
<p><%=album.stock_level(album.quantity)%>

<p><a href="/albums/<%=album.id%>">Further Details</a></p>
<br>
<br>
<%end%>
