<div class= "div_wrapper_top">
  <h1 id="album_page_title">A LB U MS</h1>
</div>

<div class="homebar">
  <a href="/home" class="create_new_cell">HO M E</a>
</div>

<div class="create_new">
  <p><a href="/albums/new" class="create_new_cell">Add new album</a></p>
</div>

<div class="album_wrapper">
  <% @albums.each do |album| %>
  <div class= "album_cell">

    <img src="<%=album.album_cover_url%>" class= "album_images">

    <p><%=album.name%></p>
    <p><%=album.artist.artist_name%></p>
    <p><%=album.genre%></p>
    <p><a href="/albums/<%=album.id%>">Show More</a></p>
  </div>
  <%end%>
</div>
