<div class="div_wrapper_top">
<h1 id="album_page_title">Artist Details</h1>
</div>

<div class="homebar">
  <a href="/home" class="create_new_cell">HO M E</a>
</div>

<div class="create_new">
  <p><a href="/artists" class="create_new_cell">Artists</a></p>
</div>

<div class="create_new">
  <p id="artist_name_title"><%=@artist.artist_name%></p>
</div>

<div class="album_wrapper">
<%for album in @artist.find_albums()%>
<div class="album_cell">
<img src="<%=album.album_cover_url%>" class="album_images">
<p><%=album.name%></p>
<a href="/albums/<%=album.id%>">Show more</a>
</div>
<% end %>

<div class="div_wrapper_foot">
<form action="/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete Artist and Albums"></form>
</div>

<div class="create_new">
  <a href="/artists/<%= @artist.id %>/edit">Edit Artist Name</a>
</div>
